/* AboutUs.css */

.aboutus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .aboutus-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .aboutus-header {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .aboutus-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .aboutus-text {
    font-size: 1rem;
    color: #666;
    max-width: 50%;
  }
  
  .aboutus-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
  }
  
  .aboutus-image {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  