/* Contactus.css */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .contact-header {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-info button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #020049;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .contact-info button:hover {
    background-color: #020080;
    transform: scale(1.05);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
  }
  
  .contact-form label {
    margin: 10px 0 5px;
    color: #333;
  }
  
  .contact-form input, .contact-form textarea, .contact-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .contact-form button {
    color: #fff;
    background-color: #020049;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .contact-form button:hover {
    background-color: #020080;
    transform: scale(1.05);
  }
  